Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:memo: sphinx-design replace sphinx-inline-tabs
  docs/conf.py
  docs/requirements.txt
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

:children_crossing: Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: check-yaml

:memo: Change license to default GitHub plaintext
  LICENSE
  docs/license.md
Due: none

:memo: Add GitHub link to index
  docs/index.md
Due: none

:memo: Set documentation colors
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Custom font
  docs/_static/fonts/FiraCode-Bold.woff
  docs/_static/fonts/FiraCode-Bold.woff2
  docs/_static/fonts/FiraCode-Regular.woff
  docs/_static/fonts/FiraCode-Regular.woff2
Due: none

:memo: Document configuration
  docs/configure.md
  docs/index.md
Due: none

:speech_balloon: Grammar fixes in --help text
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document usage
  README.md
  docs/usage.md
Due: none

:memo: Custom CSS
  docs/_static/css/custom.css
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:speech_balloon: Use rst formatting on parameters
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Enable heading anchors
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Integrate sphinx-autodoc-typehints
  docs/conf.py
  noxfile.py
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Style terminal
  docs/_static/css/custom.css
Due: none

:memo: Sentence case contributor guide
  CONTRIBUTING.md
Due: none

:memo: Document FILE features
  docs/features.md
  docs/index.md
Due: none

:heavy_plus_sign: Add sphinx-autodoc-typehints
  poetry.lock
  pyproject.toml
Due: check-toml

:memo: Fix bad markdown comments
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  docs/index.md
Due: none

:memo: Create Notebook reference
  docs/conf.py
  docs/reference.md
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Add cli references to features
  docs/features.md
Due: none

:memo: Change usage to rst
  docs/usage.md
  docs/usage.rst
Due: none

:memo: Add cli references to configure
  docs/configure.md
Due: none

:memo: Add linking to Python documentation
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:wrench: Add external python refs to rst-roles
  .flake8
Due: none

:memo: Document link preview rendering
  .pre-commit-config.yaml
  docs/_static/examples/links.html
  docs/_static/generated_html/links_table.html
  docs/_static/generated_html/links_vega.html
  docs/_static/images/links_plot.png
  docs/example_notebook_cells/links.json
  docs/examples.toml
  docs/features.md
Due: check-toml, check-yaml

:memo: Document LaTeX rendering
  docs/_static/examples/latex.html
  docs/conf.py
  docs/example_notebook_cells/latex.json
  docs/examples.toml
  docs/features.md
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document prior art
  README.md
  docs/index.md
  docs/prior_art.md
Due: none

:heavy_plus_sign: Add tomli
  poetry.lock
  pyproject.toml
Due: check-toml

:memo: Document nerd font rendering
  docs/features.md
Due: none

:memo: Document code wrapping
  docs/_static/examples/long_code.html
  docs/example_notebook_cells/long_code.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Fix bad contrbuting link on PyPI
  README.md
Due: none

:speech_balloon: Fix spacing on docstring
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document language support
  docs/_static/examples/cell_magic_syntax_highlight.html
  docs/_static/examples/julia_syntax_highlight.html
  docs/example_notebook_cells/bash_cell_magic.json
  docs/example_notebook_cells/julia_code.json
  docs/examples.toml
  docs/features.md
  docs/generate_examples.py
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document HTML rendering
  docs/_static/examples/html.html
  docs/_static/generated_html/html.html
  docs/example_notebook_cells/html.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Document drawing types
  docs/_static/examples/images_block.html
  docs/_static/examples/images_braille.html
  docs/_static/examples/images_character.html
  docs/_static/images/image_plot.png
  docs/example_notebook_cells/images.json
  docs/examples.toml
Due: check-toml

:memo: Document automatic pager
  docs/conf.py
  docs/features.md
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document themes
  docs/_static/examples/theme_dracula.html
  docs/_static/examples/theme_material.html
  docs/_static/examples/theme_monokai.html
  docs/_static/examples/theme_one_dark.html
  docs/_static/examples/theme_paraiso_light.html
  docs/_static/examples/theme_rainbow_dash.html
  docs/conf.py
  docs/example_notebook_cells/code.json
  docs/examples.toml
  docs/features.md
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:page_facing_up: Switch image license to plain file
  tests/unit/assets/LICENSE
  tests/unit/assets/LICENSE.rst
Due: none

:memo: Document Vega rendering
  .pre-commit-config.yaml
  docs/_static/examples/vega.html
  docs/_static/generated_html/vega.html
  docs/example_notebook_cells/vega.json
  docs/examples.toml
  docs/features.md
Due: check-toml, check-yaml

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
