Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:bookmark: Bump nbpreview to 0.9.0
  pyproject.toml
Due: check-toml

:memo: Update term-image package name
  docs/conf.py
  docs/features.md
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:alien: Use new namespace for term-image
  pyproject.toml
  src/nbpreview/component/content/output/result/drawing.py
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Update expected html image
  tests/unit/expected_outputs/test_html_encoded_image_link_text.txt
Due: none

:wrench: Enable untyped calls check
  pyproject.toml
Due: check-toml

:rotating_light: Ignore nbformat untyped calls
  docs/generate_examples.py
  src/nbpreview/notebook.py
  tests/conftest.py
  tests/unit/component/content/output/test_error.py
  tests/unit/component/content/output/test_stream.py
  tests/unit/component/test_row.py
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:label: Remove uneeded implicit cast
  src/nbpreview/component/content/output/result/result.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test non-string types
  tests/unit/component/content/output/result/test_drawing.py
  tests/unit/component/content/output/result/test_link.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:goal_net: Defend against non-string data
  src/nbpreview/component/content/output/result/display_data.py
  src/nbpreview/component/content/output/result/drawing.py
  src/nbpreview/component/content/output/result/link.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:arrow_up: Bump rich to 12.4.0
  poetry.lock
  pyproject.toml
Due: check-toml

:arrow_up: Bump rich to 12.4.1
  poetry.lock
  pyproject.toml
Due: check-toml

:poop: Debug 3.10 python
  .github/workflows/tests.yml
Due: check-yaml

:recycle: Do not shadow InitVar names in Row
  src/nbpreview/component/row.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:recycle: Do not shadow InitVar name on Notebook
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:wrench: Disallow implicit reexport for Jinja2
  pyproject.toml
Due: check-toml

:art: Update cookiecutter to 2022.6.3
  .github/dependabot.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, flake8, interrogate, isort, pyupgrade, tryceratops

:rotating_light: Ignore false positive B023
  src/nbpreview/component/content/output/result/markdown_extensions.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:pushpin: Pin typer < 0.6.0
  poetry.lock
  pyproject.toml
Due: check-toml

:bookmark: Bump nbpreview 0.9.1
  pyproject.toml
Due: check-toml

Update to address term_image API change (#791)
  src/nbpreview/component/content/output/result/drawing.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Update term_image class in docs.
  docs/features.md
Due: none

dataframe_display_type: handle case where head or body are None
  src/nbpreview/component/content/output/result/display_data.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Update poetry and dev tools
  .github/workflows/constraints.txt
  pyproject.toml
Due: check-toml

Add pytest-snapshot
  poetry.lock
  pyproject.toml
Due: check-toml

QA updates
  docs/example_notebook_cells/plots.py
  docs/generate_examples.py
  noxfile.py
  pyproject.toml
  src/nbpreview/__main__.py
  src/nbpreview/_color_typer.py
  src/nbpreview/component/content/input.py
  src/nbpreview/component/content/output/error.py
  src/nbpreview/component/content/output/result/display_data.py
  src/nbpreview/component/content/output/result/drawing.py
  src/nbpreview/component/content/output/result/execution_indicator.py
  src/nbpreview/component/content/output/result/link.py
  src/nbpreview/component/content/output/result/markdown_extensions.py
  src/nbpreview/component/content/output/result/result.py
  src/nbpreview/component/content/output/result/table.py
  src/nbpreview/component/content/output/stream.py
  src/nbpreview/component/markdown.py
  src/nbpreview/component/row.py
  src/nbpreview/data/__init__.py
  src/nbpreview/notebook.py
  src/nbpreview/option_values.py
  src/nbpreview/parameters.py
  tests/conftest.py
  tests/unit/component/content/output/result/test_markdown_extensions.py
  tests/unit/test_main.py
  tests/unit/test_notebook.py
  tests/util/debug.py
  tests/util/process_output.py
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

Fix BlockImage rendering
  src/nbpreview/component/content/output/result/drawing.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Install poetry-plugin-export on ci-cd
  .github/workflows/tests.yml
Due: check-yaml

Upgrade deps
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

Format pyproject.toml
  pyproject.toml
Due: check-toml

Update pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

Pass on attribute error when parsing dfs
  src/nbpreview/component/content/output/result/display_data.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Update doc deps
  docs/requirements.txt
Due: none

Update CI to 3.11-3.13
  .github/workflows/tests.yml
  README.md
Due: check-yaml

Upgrade gh action deps
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
Due: check-yaml

Update class used for TermImage
  docs/features.md
Due: none

Lock term-image to <0.8
  poetry.lock
  pyproject.toml
Due: check-toml

Add pytest-snapshot to nox test deps
  noxfile.py
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

Set 3.13 as default task runner
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
