Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:bookmark: Bump to 0.7.1
  pyproject.toml
Due: check-toml

:memo: Switch README image addresses to raw
  README.md
Due: none

:memo: Set left padding of headers to 0
  docs/_static/css/custom.css
Due: none

:memo: Remove footnotes from README
  README.md
Due: none

:memo: Close spacing between Mypy badge
  README.md
  docs/index.md
Due: none

:bookmark: Bump to 0.7.2
  pyproject.toml
Due: check-toml

:construction_worker: macOS and Windows python 3.10
  .github/workflows/tests.yml
Due: check-yaml

:heavy_plus_sign: Add term-img
  poetry.lock
  pyproject.toml
Due: check-toml

:heavy_minus_sign: Remove terminedia
  poetry.lock
  pyproject.toml
Due: check-toml

:sparkles: Detect default image drawing
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test block image drawing option
  tests/unit/expected_outputs/test_image_drawing_notebook_file[--image-drawing-block-None].txt
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Update tests to use term_img
  tests/unit/component/content/output/result/test_drawing.py
  tests/unit/expected_outputs/test_render_block_image.txt
  tests/unit/expected_outputs/test_render_height_constrained_block_image.txt
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Remove mention of character as default drawing
  docs/features.md
Due: none

:memo: Document new block images
  docs/_static/examples/dark_plot_block.html
  docs/_static/examples/images_block.html
  docs/conf.py
  docs/features.md
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Replace terminedia with term-img
  src/nbpreview/component/content/output/result/drawing.py
  src/nbpreview/notebook.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:wrench: Ignore missing imports term_img
  pyproject.toml
Due: check-toml

:white_check_mark: Test render narrow notebook
  tests/unit/expected_outputs/test_render_narrow_notebook[--image-drawing-block].txt
  tests/unit/expected_outputs/test_render_narrow_notebook[--image-drawing-braille].txt
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:goal_net: Account for very narrow image drawing fallback
  src/nbpreview/component/content/output/result/drawing.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Explicitly document drawing type in examples
  docs/_static/examples/dark_plot_block.html
  docs/_static/examples/images_block.html
  docs/_static/examples/links.html
  docs/_static/examples/markdown.html
  docs/_static/examples/vega.html
  docs/examples.toml
Due: check-toml

:white_check_mark: Test image path expansion
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bulb: Grammar fix in unquote comment
  src/nbpreview/component/markdown.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Expand paths for markdown images
  src/nbpreview/component/markdown.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Wording on nerd font documentation
  docs/features.md
Due: none

:memo: Update hero image
  docs/_static/images/hero_image.png
  docs/example_notebook_cells/hero_notebook.ipynb
Due: nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort

:lipstick: Format files
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bookmark: Bump to 0.8.0
  pyproject.toml
Due: check-toml

:bookmark: Bump to 0.8.1
  pyproject.toml
Due: check-toml

You should have an example in the readme
  README.md
Due: none

Simply can be overused
  README.md
Due: none

:arrow_up: Bump flake8-bandit to 3.0.0
  poetry.lock
  pyproject.toml
Due: check-toml

:arrow_up: Upgrade nbformat to 5.2.0
  poetry.lock
  pyproject.toml
Due: check-toml

:wrench: Ignore missing imports in jsonschema
  pyproject.toml
Due: check-toml

:goal_net: Catch new nbformat exceptions
  src/nbpreview/notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test encoded image links
  tests/unit/assets/link_encoded_image.ipynb
  tests/unit/component/test_markdown.py
  tests/unit/expected_outputs/test_html_encoded_image_link_text.txt
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

:coffin: Remove unused plain arg
  src/nbpreview/component/content/output/result/display_data.py
  src/nbpreview/component/content/output/result/result.py
  src/nbpreview/component/row.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:pushpin: Sync lockfile
  poetry.lock
Due: none

:sparkles: Render encoded image links
  src/nbpreview/component/markdown.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:label: Use Dict instead of dict
  docs/generate_examples.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

Update README.md
  README.md
Due: none

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
