Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:recycle: Image drawing callback handles validation
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:recycle: Move color param transform to callback
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:recycle: Move color system param transform to callback
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:recycle: Move theme transformation to parameter callback
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test default color system arg
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bug: Fix default color system
  src/nbpreview/option_values.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Validates provided theme values
  src/nbpreview/__main__.py
  src/nbpreview/option_values.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test theme validation
  tests/unit/expected_outputs/test_change_theme_notebook_file[-t-dark-None].txt
  tests/unit/expected_outputs/test_change_theme_notebook_file[-t-monokai-None].txt
  tests/unit/test_main.py
  tests/unit/test_option_values.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:construction_worker: Make isort serial
  .pre-commit-config.yaml
Due: check-yaml

:heavy_plus_sign: Add autoflake
  poetry.lock
  pyproject.toml
Due: check-toml

:construction_worker: Add autoflake check
  .pre-commit-config.yaml
  noxfile.py
Due: black, check-yaml, flake8, interrogate, isort, pyupgrade, tryceratops

:lipstick: Remove useless pass statements
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:construction_worker: Black on python and jupyter
  .pre-commit-config.yaml
Due: check-yaml

:heavy_plus_sign: Add black jupyter dependency
  poetry.lock
  pyproject.toml
Due: check-toml

:white_check_mark: Test render image by default
  tests/unit/expected_outputs/test_image_notebook_file[--no-images-None].txt
  tests/unit/expected_outputs/test_image_notebook_file[None-1].txt
  tests/unit/expected_outputs/test_image_notebook_file[None-None].txt
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:children_crossing: Render images by default
  src/nbpreview/__main__.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Set theme in tests
  tests/unit/expected_outputs/test_color_system_notebook_file[--color-system-standard-None].txt
  tests/unit/expected_outputs/test_color_system_notebook_file[None-None-windows].txt
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:children_crossing: Set default theme to dark
  src/nbpreview/__main__.py
  src/nbpreview/component/markdown.py
  src/nbpreview/notebook.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Detect image rendering
  src/nbpreview/__main__.py
  src/nbpreview/notebook.py
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test images option
  tests/unit/expected_outputs/test_image_notebook_file[-e-None].txt
  tests/unit/expected_outputs/test_image_notebook_file[-images-None].txt
  tests/unit/expected_outputs/test_image_notebook_file[None-0].txt
  tests/unit/expected_outputs/test_image_notebook_file[None-1].txt
  tests/unit/expected_outputs/test_no_color_no_image.txt
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test no duplicate options
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test positive space -s alias
  tests/unit/expected_outputs/test_plain_output_notebook_file[-p-None].txt
  tests/unit/expected_outputs/test_positive_space_output_notebook_file[-s-None].txt
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bug: Rename positive space option alias to -s
  src/nbpreview/parameters.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Util to change test expected
  tests/util/process_output.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Use terminal colors for header
  src/nbpreview/component/markdown.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:heavy_plus_sign: Add click-help-colors
  poetry.lock
  pyproject.toml
Due: check-toml

:wrench: Ignore missing click-help-colors imports
  pyproject.toml
Due: check-toml

:white_check_mark: Test help colors
  tests/unit/test_main.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Color help message
  src/nbpreview/__main__.py
  src/nbpreview/_color_typer.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bookmark: Bump to 0.6.0
  pyproject.toml
Due: check-toml

:memo: Use MyST for documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  README.rst
  docs/codeofconduct.md
  docs/codeofconduct.rst
  docs/conf.py
  docs/contributing.md
  docs/contributing.rst
  docs/index.md
  docs/index.rst
  docs/license.md
  docs/license.rst
  docs/reference.md
  docs/reference.rst
  docs/requirements.txt
  docs/usage.md
  noxfile.py
  pyproject.toml
  tests/unit/assets/LICENSE.md
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Add bandit badge
  README.md
Due: none

:heavy_plus_sign: Add sphinx-copybutton
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:heavy_plus_sign: Add myst-parser
  poetry.lock
  pyproject.toml
Due: check-toml

:heavy_plus_sign: Add sphinxext-opengraph
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:heavy_plus_sign: Add sphinx-inline-tabs
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Add issues PyPI link
  pyproject.toml
Due: check-toml

:heavy_plus_sign: Add sphinx-design
  poetry.lock
  pyproject.toml
Due: check-toml

:heavy_minus_sign: Remove sphinx-inline-tabs
  poetry.lock
  pyproject.toml
Due: check-toml

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
