Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:memo: Remove condescending language from README (#495)
  README.md
Due: none

:memo: Add isort badge
  README.md
Due: none

Revert ":construction_worker: Ignore safety 44715"
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Credit jsvine/nbpreview
  README.md
Due: none

:bookmark: Bump to 0.8.2
  pyproject.toml
Due: check-toml

:pushpin: Pin Click to <8.1.0
  poetry.lock
  pyproject.toml
Due: check-toml

:arrow_up: Upgrade typer to 0.4.1
  poetry.lock
  pyproject.toml
Due: check-toml

Update README.md
  README.md
Due: none

:memo: Add example (#494)
  README.md
Due: none

Revert ":pushpin: Pin Click to <8.1.0"
  poetry.lock
  pyproject.toml
Due: check-toml

:bookmark: Bump nbpreview to 0.8.3
  pyproject.toml
Due: check-toml

:wrench: Remove tryceratops config
  .pre-commit-config.yaml
Due: check-yaml

:heavy_minus_sign: Remove tryceratops
  README.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:arrow_up: Upgrade rich to 12.2.0
  poetry.lock
  pyproject.toml
  src/nbpreview/component/content/input.py
  src/nbpreview/component/content/output/result/display_data.py
  src/nbpreview/parameters.py
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Update example paths in docs
  docs/features.md
  docs/index.md
Due: none

:memo: Add SVG examples
  README.md
Due: none

:memo: Add SVG examples
  docs/_static/examples/svg/cell_magic_syntax_highlight.svg
  docs/_static/examples/svg/dark_plot_block.svg
  docs/_static/examples/svg/dark_plot_braille.svg
  docs/_static/examples/svg/dark_plot_negative_character.svg
  docs/_static/examples/svg/dark_plot_positive_character.svg
  docs/_static/examples/svg/dataframe.svg
  docs/_static/examples/svg/example_notebook.svg
  docs/_static/examples/svg/html.svg
  docs/_static/examples/svg/images_block.svg
  docs/_static/examples/svg/images_braille.svg
  docs/_static/examples/svg/images_character.svg
  docs/_static/examples/svg/julia_syntax_highlight.svg
  docs/_static/examples/svg/latex.svg
  docs/_static/examples/svg/links.svg
  docs/_static/examples/svg/long_code.svg
  docs/_static/examples/svg/markdown.svg
  docs/_static/examples/svg/stderr.svg
  docs/_static/examples/svg/theme_dracula.svg
  docs/_static/examples/svg/theme_material.svg
  docs/_static/examples/svg/theme_monokai.svg
  docs/_static/examples/svg/theme_one_dark.svg
  docs/_static/examples/svg/theme_paraiso_light.svg
  docs/_static/examples/svg/theme_rainbow_dash.svg
  docs/_static/examples/svg/traceback.svg
  docs/_static/examples/svg/vega.svg
Due: none

:truck: Move HTML renders to own directory
  docs/_static/examples/html/cell_magic_syntax_highlight.html
  docs/_static/examples/html/dark_plot_block.html
  docs/_static/examples/html/dark_plot_braille.html
  docs/_static/examples/html/dark_plot_negative_character.html
  docs/_static/examples/html/dark_plot_positive_character.html
  docs/_static/examples/html/dataframe.html
  docs/_static/examples/html/example_notebook.html
  docs/_static/examples/html/html.html
  docs/_static/examples/html/images_block.html
  docs/_static/examples/html/images_braille.html
  docs/_static/examples/html/images_character.html
  docs/_static/examples/html/julia_syntax_highlight.html
  docs/_static/examples/html/latex.html
  docs/_static/examples/html/links.html
  docs/_static/examples/html/long_code.html
  docs/_static/examples/html/markdown.html
  docs/_static/examples/html/stderr.html
  docs/_static/examples/html/theme_dracula.html
  docs/_static/examples/html/theme_material.html
  docs/_static/examples/html/theme_monokai.html
  docs/_static/examples/html/theme_one_dark.html
  docs/_static/examples/html/theme_paraiso_light.html
  docs/_static/examples/html/theme_rainbow_dash.html
  docs/_static/examples/html/traceback.html
  docs/_static/examples/html/vega.html
Due: none

:truck: Move example cell data into own direcotry
  docs/example_notebook_cells/content/bash_cell_magic.json
  docs/example_notebook_cells/content/code.json
  docs/example_notebook_cells/content/dark_plot.json
  docs/example_notebook_cells/content/dataframe.json
  docs/example_notebook_cells/content/example_notebook.json
  docs/example_notebook_cells/content/html.json
  docs/example_notebook_cells/content/images.json
  docs/example_notebook_cells/content/julia_code.json
  docs/example_notebook_cells/content/latex.json
  docs/example_notebook_cells/content/links.json
  docs/example_notebook_cells/content/long_code.json
  docs/example_notebook_cells/content/markdown.json
  docs/example_notebook_cells/content/stderr.json
  docs/example_notebook_cells/content/traceback.json
  docs/example_notebook_cells/content/vega.json
Due: none

:hammer: Format generated SVGs
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Generate svg examples
  docs/example_notebook_cells/templates/html_template.jinja
  docs/example_notebook_cells/templates/svg_template.jinja
  docs/generate_examples.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Fix Security badge
  README.md
Due: none

:memo: Wording on nbpreview citation consistent
  README.md
Due: none

:memo: Remove features preamble
  README.md
Due: none

:memo: Move requirements and installation to top
  README.md
Due: none

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
