Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

interrogate:
  name: interrogate
  entry: interrogate
  language: system

isort:
  name: isort
  entry: isort
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8
  entry: nbqa flake8
  language: system
  require_serial: true

nbqa-pyupgrade:
  name: nbqa-pyupgrade
  entry: nbqa pyupgrade
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort
  entry: nbqa isort
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

tryceratops:
  name: tryceratops
  entry: tryceratops
  language: system
  require_serial: true

:memo: Make example generator
  docs/generate_examples.py
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document usage
  README.md
Due: none

:white_check_mark: Test Julia notebook syntax
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Hide duplicate content from homepage
  README.md
  docs/index.md
Due: none

:memo: Add installation instructions
  README.md
  docs/index.md
  docs/installation.md
Due: none

:speech_balloon: Add spacing to example theme text
  src/nbpreview/parameters.py
  tests/unit/expected_outputs/test_list_themes.txt
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document Pandas DataFrame rendering
  docs/_static/examples/dataframe.html
  docs/_static/generated_html/dataframe.html
  docs/conf.py
  docs/example_notebook_cells/dataframe.json
  docs/examples.toml
  docs/features.md
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document markdown rendering
  docs/_static/examples/markdown.html
  docs/_static/images/emoji_u1f422.png
  docs/example_notebook_cells/markdown.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Add mypy badge
  README.md
Due: none

:memo: Document credits
  README.md
  docs/credits.md
  docs/dependencies.md
  docs/index.md
  pyproject.toml
Due: check-toml

:heavy_plus_sign: Add sphinx-favicon
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document features summary
  README.md
Due: none

:memo: Add logo
  README.md
  docs/_static/images/logo_dark.svg
  docs/_static/images/logo_light.svg
  docs/conf.py
  docs/index.md
  docs/nbpreview_logo.fig
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document stderr rendering
  docs/_static/examples/stderr.html
  docs/_static/generated_html/stderr.html
  docs/example_notebook_cells/stderr.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Document traceback rendering
  docs/_static/examples/traceback.html
  docs/example_notebook_cells/traceback.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Document enable and disable images
  docs/features.md
Due: none

:memo: Rearrange features order
  docs/features.md
Due: none

:memo: Add favicon
  README.md
  docs/_static/images/LICENSE
  docs/_static/images/favicon/android-chrome-192x192.png
  docs/_static/images/favicon/android-chrome-512x512.png
  docs/_static/images/favicon/apple-touch-icon.png
  docs/_static/images/favicon/favicon-16x16.png
  docs/_static/images/favicon/favicon-32x32.png
  docs/_static/images/favicon/favicon.ico
  docs/_static/images/favicon/favicon.svg
  docs/_static/images/favicon/safari-pinned-tab.svg
  docs/_static/images/favicon/site.webmanifest
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Document positive space drawing
  docs/_static/examples/dark_plot_block.html
  docs/_static/examples/dark_plot_braille.html
  docs/_static/examples/dark_plot_negative_character.html
  docs/_static/examples/dark_plot_positive_character.html
  docs/_static/images/dark_plot.png
  docs/example_notebook_cells/dark_plot.json
  docs/examples.toml
  docs/features.md
Due: check-toml

:memo: Add example notebook
  .pre-commit-config.yaml
  README.md
  docs/_static/examples/example_notebook.html
  docs/_static/generated_html/example_notebook_dataframe.html
  docs/_static/generated_html/example_notebook_posterior_predictive_progress_bar.html
  docs/_static/generated_html/example_notebook_sampling_progress_bar.html
  docs/_static/images/example_notebook_hdi_plot.png
  docs/_static/images/example_notebook_length_distribution_plot.png
  docs/_static/images/example_notebook_length_scatter.png
  docs/_static/images/hero_image.png
  docs/example_notebook_cells/example_notebook.json
  docs/example_notebook_cells/hero_notebook.ipynb
  docs/example_notebook_cells/model.py
  docs/example_notebook_cells/plots.py
  docs/examples.toml
  docs/index.md
Due: black, check-toml, check-yaml, flake8, interrogate, isort, nbqa-black, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade, tryceratops

:memo: Add documentation link to README
  README.md
Due: none

:memo: Add tagline
  README.md
Due: none

:memo: Move to external hyperlinks
  README.md
Due: none

:memo: Typo on similar tools section
  README.md
Due: none

:memo: Add sphinx-autodoc-typehints to RTD require
  docs/requirements.txt
Due: none

:memo: Fix bad paths for example notebook images
  docs/_static/examples/example_notebook.html
  docs/examples.toml
Due: check-toml

:memo: Remove raw=True hyperlink
  README.md
Due: none

:memo: Remove duplicate reference
  README.md
Due: none

:memo: Grammar fix
  README.md
  docs/features.md
Due: none

:arrow_up: Update numpy to 1.22.2
  poetry.lock
Due: none

:construction_worker: Ignore safety 44715
  noxfile.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:bookmark: Bump nbpreview to 0.7.0
  pyproject.toml
Due: check-toml

:memo: Enable dollarmath for MyST
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Add OpenGraph config
  docs/conf.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Remove Mypy badge from built documentation
  README.md
  docs/index.md
Due: none

:white_check_mark: Test render wide DataFrame
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Minimum column width on DataFrame render
  src/nbpreview/component/content/output/result/display_data.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:sparkles: Do not render HTML if custom repr
  src/nbpreview/component/content/output/result/display_data.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:white_check_mark: Test DataFrame rendered in plain mode
  tests/unit/expected_outputs/test_plain_output_notebook_file[--plain-None].txt
  tests/unit/expected_outputs/test_plain_output_notebook_file[-p-None].txt
  tests/unit/expected_outputs/test_plain_output_notebook_file[None-1].txt
  tests/unit/test_notebook.py
Due: black, flake8, interrogate, isort, pyupgrade, tryceratops

:memo: Remove using plain to control DataFrame
  docs/features.md
Due: none

Path conditions:
  black: any of: \.py$, but not: ^tests/unit/expected_outputs
  check-toml: any of: \.toml$, but not: ^tests/unit/expected_outputs
  check-yaml: any of: \.(yaml|yml)$, but not: ^tests/unit/expected_outputs
  flake8: any of: \.py$, but not: ^tests/unit/expected_outputs
  interrogate: any of: \.py$, but not: ^tests/unit/expected_outputs
  isort: any of: \.py$, but not: ^tests/unit/expected_outputs
  nbqa-black: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-flake8: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-pyupgrade: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  nbqa-isort: any of: \.ipynb$, but not: ^tests/unit/expected_outputs
  pyupgrade: any of: \.py$, but not: ^tests/unit/expected_outputs
  tryceratops: any of: \.py$, but not: ^tests/unit/expected_outputs
